.container {
    margin: 0 auto;
}

.loading,
.error {
    margin-top: 20px;
}

.error {
    color: var(--coral-title);
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.filter_likes {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.filter_likes h3 {
    font-family: "Raleway", Arial, sans-serif;
}

.toggle_like {
    display: flex;
    align-items: center;
    width: 200px;
}

.toggle_like input {
    visibility: hidden;
}

.toggle_like label {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 28px;
    outline: 2px solid var(--coral);
    border-radius: 10px;
    background-color: var(--white);
    cursor: pointer;
}

.toggle_like input:checked+label {
    background-color: var(--coral);
}

.toggle_like svg {
    position: absolute;
    top: 2px;
    left: 2px;
    fill: var(--coral);
    transition: all 0.3s ease-in-out;
}

.toggle_like input:checked+label svg {
    left: 25px;
    fill: var(--white);
}
